@font-face {
  font-display: fallback;
  font-family: 'SharpGrotesk';
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/SharpGroteskBook20.eot');
  src: url('../fonts/SharpGroteskBook20.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SharpGroteskBook20.woff2') format('woff2'),
  url('../fonts/SharpGroteskBook20.woff') format('woff');
}

@font-face {
  font-display: fallback;
  font-family: 'SharpGrotesk';
  font-stretch: normal;
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/SharpGroteskBold15.eot');
  src: url('../fonts/SharpGroteskBold15.eot?#iefix') format('embedded-opentype'),
  url('../fonts/SharpGroteskBold15.woff2') format('woff2'),
  url('../fonts/SharpGroteskBold15.woff') format('woff');
}
