body {
  font-family: var(--fontFamily);
  font-size: 15px;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
table,
p,
hr,
blockquote {
  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
