.Navigation {
  display: flex;
  overflow: hidden;

  &__wrap {
    display: flex;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 24px;
  }

  &__item {
  }

  &__link {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 100%;
    border: 0;
    color: #364057;
    text-align: left;
    white-space: nowrap;
    padding: 0;
    user-select: none;
    transition: color ease-in-out 150ms;

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: 2px;
    }

    &:hover {
      color: var(--colorBrand)
    }

    &--active {
      color: var(--colorBrand);

      &::before {
        background: var(--colorBrand);
      }
    }
  }
}