.Footer {
  padding: var(--ls--xlg) 0;
  background-color: #000;
  color: var(--color-text--white);
  font-family: var(--fontFamilyPromo);

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__copyright {
    font-size: 14px;
  }
}
