.Promo {
  flex: 1 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--colorTextBlack);
  font-family: var(--fontFamilyPromo);
  color: var(--colorWhite);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;

  &__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: var(--ls--xlg);
  }

  &__header {
    padding-bottom: var(--ls--xlg);
  }

  &__content {
    flex: 1;
    display: flex;
    min-height: 500px;
    background-color: var(--colorBrand);
  }

  &__col {
    flex: 1;
    padding: 95px;
  }

  &__title {
    margin-bottom: var(--ls--md);
    font-weight: 900;
    font-size: 72px;
    line-height: 1;
    text-transform: uppercase;
  }
}
