@import '~xsolla-uikit/lib/variables';
@import '~xsolla-uikit/lib/typography';
@import '~xsolla-uikit/lib/colors';

@import 'common/variables';
@import 'common/typography';
@import 'common/colors';

@import 'project/reboot';
@import 'project/fonts';
@import 'project/typo';

@import 'primary/page-wrapper';

.container-main {
  width: 100%;
  max-width: var(--container-width-main);
  margin: 0 auto;
  padding-left: var(--ls--xlg);
  padding-right: var(--ls--xlg);
}

.container {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;
  padding-left: var(--ls--xlg);
  padding-right: var(--ls--xlg);
}

#__next {
  min-height: 100%;
}

body {
  background-color: var(--color-layout);
}
